body {
  font-family: Sans-serif;
  background: #d13535;
  line-height: 2rem;
}
h1,
h3 {
  border-top: dotted 1px #000;
  border-bottom: solid 2px #000;
}
.primary-text {
  color: #2a52a7;
}
.btn,
.primary-btn {
  padding: 10px 15px;
  border: 0;
  border-radius: 30px;
}
.primary-btn {
  background: #2a52a7;
  color: white;
}
ul#menu {
  list-style: none;
  background-color: #82f4ee;
}
ul#menu li {
  padding: 10px 0;
}
ul#menu li a {
  color: #0a6d68;
  text-decoration: none;
}
ul#menu li a:hover {
  color: #000;
}
.bordered {
  border-top: dotted 1px #000;
  border-bottom: solid 2px #000;
}
